name: qdrant

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped

    ports:
      - "6333:6333"
      - "6334:6334" # gRPC (optional but recommended)

    environment:
      QDRANT__TELEMETRY_DISABLED: "true"
      QDRANT__SERVICE__API_KEY: ${QDRANT_API_KEY}
      QDRANT__LOG_LEVEL: WARN

    volumes:
      - qdrant_storage:/qdrant/storage

networks:
  default:
    driver: bridge

volumes:
  qdrant_storage:
